/* Estilos generales */
body {

  background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #0056b3;
}

.website-button {
    /* Estilos para el botón del sitio web */
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.website-button:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
}

/* Estilos para la lista de consultas */
#consultas-list {
    list-style: none;
    padding: 0;
    max-width: 800px;
    margin: 20px auto;
}

#consultas-list li {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* Estilos para el formulario de agregar consulta */
#consulta-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#consulta-form h2 {
    margin-top: 0;
}

#consulta-form label {
    display: block;
    margin-bottom: 5px;
}

#consulta-form input,
#consulta-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#consulta-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#consulta-form button:hover {
    background-color: #0056b3;
}
