/* Estilos generales */
body {
  background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #0056b3;
}
h1 {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
}

/* Estilos para los signos vitales */
#signos-vitales {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#signos-vitales p {
    margin: 5px 0;
}

/* Estilos para el formulario de monitoreo */
#monitoreo-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#monitoreo-form h2 {
    margin-top: 0;
}

#monitoreo-form label {
    display: block;
    margin-bottom: 5px;
}

#monitoreo-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#monitoreo-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#monitoreo-form button:hover {
    background-color: #0056b3;
}
